// #8399A4;
// #C4CCCE
// #AFA8A1
// #8E8178
// #684C45

//General

.btn {
  font-family: Changa;
  background-color: white;
  border: solid #AFA8A1;
  color: #8399A4;
  border-radius: 10px;
}
.title {
  color: white;
  
  font-family: 'Bungee Shade', cursive;
  font-size: xx-large;
}
//Body

body {
  background: #8399a4;
}

//Nav Positioning

.nav-bar-container {
  position: relative;
  display: grid;
  grid-template-areas: 
  " . logo logo . button1 . "
  " . logo logo . button2 . ";
  padding: 0px;
}

.nav-settings {
  grid-area: button1;
}

.nav-themes {
  grid-area: button2;
}

.nav-title {
  grid-area: logo;
  justify-self: center;
  align-self: center;
}
//underline
.nav-underline {
  height: 0.025vh;
  background: white;
  position: absolute;
  top: 100%;
  width: 70%;
  right: 13%;
  margin: auto;
}

// Settings Modal

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb((0), 0, 0);
  background-color: rgba(0,0,0,0.4);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}